torch==2.2.0
torch-geometric==2.5.3
torch-scatter==2.1.1
torch-sparse==0.6.18
torch-cluster==1.6.3
numpy
pandas
scikit-learn
networkx
matplotlib
streamlit
pyvis
seaborn
tqdm
joblib
pyyaml
scipy
gensim
pyvis>=0.3.2
