# Core ML libraries
torch==2.5.1
torch-geometric==2.6.1
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-cluster==1.6.3

# Data handling
pandas
numpy
scikit-learn

# Visualization
matplotlib
seaborn
networkx

# Streamlit app
streamlit